* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* colors */

:root {
  --light-blue: hsl(200, 44%, 57%);
  --lighter-blue: hsl(200deg 59.25% 67.48%);
  --transparent-blue: hsl(207 90% 90% / 1);
  --dark-blue: hsl(210, 60%, 20%);
  --darker-blue: hsl(210, 60%, 10%);
  --light-green: hsl(188.46deg 44% 57%);
  --lighter-green: hsl(190 50% 80% / 1);
  --orange: hsl(45deg 98.33% 54.38%);
  --mustard: hsl(45, 90%, 50%);
  --mustard-dark: hsl(45deg 88.82% 13.25%);
  --red: hsl(0deg 70% 55%);
  --red-100:hsl(0, 100%, 71%);
  --white: hsl(0, 0%, 100%);
  --white-80: hsl(0 0% 80% / 1);
  --black: hsl(0, 0%, 0%);
}

body {
  background-color: var(--light-blue);
  padding-block: 3rem;
  min-height: 100vh;
}

#selection-form .form-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

#dialog-box #submit-button,
#cancel-button {
  height: 2.5rem;
  width: 100%;
  font-size: 1rem;
}

#dialog-box #submit-button{
  color: var(--white-80);
}

#dialog-box #cancel-button:hover{
background-color: hsl(0deg 70% 50%) ;
color: var(--white);
}

#dialog-box #cancel-button{
  background-color: var(--red);
  color: var(--white)
}

#dialog-box {
  border: none;
  margin: auto;
  background-color: var(--lighter-blue);
  padding-block: 1rem;
  padding-inline: 1rem;
  width: min(80%, 25rem);
  max-height: 80dvh;
  overflow-y: auto;
  scrollbar-width: thin;
  border-radius: 1rem;
  box-shadow:
    0px 11px 15px -7px hsla(210, 60%, 10%, 0.4),
    0px 24px 38px 3px hsla(210, 60%, 10%, 0.28),
    0px 9px 46px 8px hsla(210, 60%, 10%, 0.24);
}

#dialog-box::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#dialog-box .fields {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  border: none;
}

.fields .field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fields .field label {
  align-self: flex-start;
}

.fields .field input {
  font-size: 1.2rem;
  height: 2.5rem;
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--transparent-blue);
  color: var(--black);
  box-shadow: inset 0 2px 4px hsla(210, 60%, 10%, 0.12);
}

.fields .field input:hover {
  outline: 1px solid var(--darker-blue);
}

.fields .field input:focus {
  outline: 2px solid var(--darker-blue);
}

.fields legend {
  font-weight: bold;
  font-size: 2rem;
  margin-block-end: 1rem;
  text-align: center;
}

#dialog-box form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 2rem;
}

#book-library {
  display: grid;
  grid-template-columns: 1fr minmax(6rem, 12rem);
}

#book-library .book {
  height: auto;
  min-height: 16rem;
  border-radius: 0.2rem;
  background-color: aquamarine;
}

#book-library #books {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12rem);
  gap: 1rem;
  padding-inline-start: 2rem;
}

#controls {
  justify-self: end;
  border-left: 1px solid hsl(200, 44%, 50%);
  padding-inline: 1rem;
}

#open-dialog {
  background-color: var(--mustard);
  color: var(--mustard-dark);
  transition: 0.2s;
  font-size: 1.2rem;
}

#open-dialog:hover {
  background-color: hsl(45, 90%, 60%);
}

/* utility classes */
/* buttons */
.btn {
  text-align: center;
  padding-block: 0.3rem;
  padding-inline: 0.3rem;
  border-radius: 0.2rem;  
  border: none;
  background-color: var(--dark-blue);
  transition: 0.1s;
}



#read-status {
  color: var(--light-green);
}

#read-status.unread {
  color: var(--orange);
}

#submit-button:hover,
#remove-book-button:hover,
#read-status:hover{
background-color: var(--darker-blue) ;
}

#remove-book-button {
  color: var(--red-100);
}

