* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* colors */

:root {
  --light-blue: hsl(200, 44%, 57%);
  --dark-blue: hsl(210, 60%, 20%);
  --darker-blue: hsl(210, 60%, 10%);
  --light-green: hsl(188.46deg 44% 57%);
  --lighter-green: hsl(190 50% 80% / 1);
  --orange: hsl(45deg 98.33% 54.38%);
  --mustard: hsl(45, 90%, 50%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

body {
  background-color: var(--light-blue);
  padding-block: 3rem;
  min-height: 100vh;
  position: relative;
}

#dialog-box #submit-button {
  color: var(--white);
  height: 2.5rem;
}

#dialog-box {
  /* position: fixed;
  bottom: 40%;
  left: 40%; */
  border: none;
  background-color: var(--light-blue);
  padding-block: 1rem;
  padding-inline: 1rem;
  width: min(80%, 25rem);
  max-height: 80dvh;
  overflow-y: auto;
  scrollbar-width: thin;
}

#dialog-box::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#dialog-box .fields {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  border: none;
}

.fields .field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fields .field label {
  align-self: flex-start;
}

.fields .field input {
  font-size: 1.2rem;
  height: 2.5rem;
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--lighter-green);
  color: var(--black);
}

/* hsl(205deg 50% 38% / 49%) */

.fields .field input:hover {
  outline: 1px solid var(--darker-blue);
}

.fields .field input:focus {
  outline: 2px solid var(--darker-blue);
}

.fields legend {
  font-weight: bold;
  font-size: 2rem;
  margin-block-end: 1rem;
  text-align: center;
}

#dialog-box form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 2rem;
}

#book-library {
  display: grid;
  grid-template-columns: 1fr 6rem;
}

#book-library .book {
  height: auto;
  min-height: 16rem;
  border-radius: 0.2rem;
  background-color: aquamarine;
}

#book-library #books {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12rem);
  gap: 1rem;
  position: relative;
  padding-inline: 2rem;
}

#books::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: hsl(200, 44%, 50%);
  width: 1px;
  left: 99.7%;
}

#controls {
  justify-self: center;
}

#add-book {
  background-color: var(--mustard);
  color: hsl(210, 60%, 15%);
  transition: 0.2s;
}

#add-book:hover {
  background-color: hsl(45, 90%, 60%);
}

/* utility classes */
/* buttons */
.btn {
  text-align: center;
  padding-block: 0.3rem;
  padding-inline: 0.3rem;
  border-radius: 0.2rem;
  /* width: 100%; */
  border: none;
  background-color: var(--dark-blue);
  transition: 0.1s;
}

#read-status {
  color: var(--light-green);
}

#read-status.unread {
  color: var(--orange);
}

.btn:hover {
  background-color: var(--darker-blue);
}

#remove-book-button {
  color: #ff6969;
}
